<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PhonePe Success</title>
  </head>
  <body>
    Code: <%- code %> <br />
    Transaction ID: <%- transactionId %> <br />
    Provider Reference ID: <%- providerReferenceId %> <br /><br />

    Data: <%- JSON.stringify(data) %>
  </body>
</html>
